<h1>Humblr</h1>

<!--  --> 
<% if session[:user] == nil %>
  <h2>Sign Up</h2>
  <%= erb :sign_up %>

  <p>OR</p>

  <h2>Log In</h2>
  <%= erb :log_in %>
<% end %>

<% if session[:user] != nil %>
  <% #erb :dashboard %> 

  <% erb :log_out %>
  <form action="/log_out" method="post">
    <input type="submit" value="Log Out">
  </form>

  <% #erb :new_post %> 
  <h3>Post</h3>
  <% erb :posts %>

<% end %>