<div class="card" style="width: auto;">
  <form action="/log_in" method="post">
    Enter email:  <br>
    <input type="text" name="email" placeholder="Email"> <br>
    Enter Password:  <br>
    <input type="password" name="password_hash" placeholder="Password"> <br>
    <input class="btn btn-primary btn-lg active" type="submit" value="Log In">
  </form>
</div>