
<form action="/sign_up" method="post">
  <input type="text" name="username" placeholder="Choose Username">
  <input type="password" name="password" placeholder="Set Password">
  <input type="submit" value="Sign Up">
</form>