
<form action="/sign_up" method="post">
  Name:  <br>
  <input type="text" name="first_name" placeholder="Choose Username">
  <input type="text" name="last_name" placeholder="Choose Username"> <br>
  Password:  <br>
  <input type="password" name="password" placeholder="Set Password"> <br>
  Email:  <br>
  <input type="email" name="email" placeholder="Enter Email"> <br>
  Birthday:  <br>
  <input type="date" name="dob" placeholder="Enter Birthday"> <br>
  <input type="submit" value="Sign Up">
</form>