<div class="card" style="width: auto;">
  <form action="/sign_up" method="post">
    Name:  <br>
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name"> <br>
    Password:  <br>
    <input type="password" name="password_hash" placeholder="Set Password"> <br>
    Email:  <br>
    <input type="email" name="email" placeholder="Enter Email"> <br>
    Birthday:  <br>
    <input type="date" name="dob" placeholder="Enter Birthday"> <br>
    <input class="btn btn-primary btn-lg active" type="submit" value="Sign Up">
  </form>
</div>