<nav class="navbar navbar-expand-lg navbar-danger justify-content-between alert-danger">
  <a class="navbar-brand alert-danger" href="/profile">Home</a>
  <a class="navbar-brand alert-danger" href="/users">Humblr Users</a>
  <a class="navbar-brand alert-danger" href="/new_post">New Post</a>


  <form  action="/log_out" method="post">
    <input class="navbar-brand alert-danger" type="submit" value="Log Out">
  </form>
</nav>